body{
    background-color: white;
    font-family: sans-serif;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: coral;
    align-items: center;
    padding: 10px;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
header img{
    height: 50px;
    margin-left: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;

}
header nav{
    display: flex;
}

.grilla {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "lado1- lado2"
      "TEXTOLADO1 TEXTOLADO2"
      "buttonLADO1 buttonLADO2"; 
  }
  .lado1- { grid-area: lado1-; }
  .lado2 { grid-area: lado2; }
  .TEXTOLADO1 { grid-area: TEXTOLADO1; }
  .TEXTOLADO2 { grid-area: TEXTOLADO2; }
  .buttonLADO1 { grid-area: buttonLADO1; }
  .buttonLADO2 { grid-area: buttonLADO2; }
  

.grilla{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    border: solid black;
}

#fotos1{
    padding-top: 30px;
}


.grilla2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    position: relative;
    grid-gap: 10px;
    grid-template-areas:
      "LADO-1 LADO-2"
      "foto1 foto2"
      "parrafo1 parrafo2";
  }
  
  .LADO-1 { grid-area: LADO-1; }
  
  .LADO-2 { grid-area: LADO-2; }
  
  .foto1 { grid-area: foto1; }
  
  .parrafo1 { grid-area: parrafo1; }
  
  .foto2 { grid-area: foto2; }
  
  .parrafo2 { grid-area: parrafo2; }
  
.LADO-1{
    padding-top: 30px;
    position: absolute;
      top: 10px; 
      left: 320px; 
      color: white;
      font-size: 18px; 
      background-color: rgba(0, 0, 0, 0.5); 
      padding: 5px; 
      
}
.LADO-2{
    padding-top: 30px;
    position: absolute;
      top: 10px; 
      left: 170px; 
      color: white;
      font-size: 18px; 
      background-color: rgba(0, 0, 0, 0.5); 
      padding: 5px;
}

.foto1{
    display: flex;
    width: 100%;
    object-fit: cover;
    grid-row: 1;
    padding-left: 30px;
    padding-left: 200px;
}

.foto2{
    width: 100%;
    object-fit: cover;
    grid-row: 1;
    padding-left: 30px;
}


.grilla3 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "LADO-1 LADO-2"
      "foto1 foto2"
      ". .";
  }
  
  .LADO-1 { grid-area: LADO-1; }
  
  .LADO-2 { grid-area: LADO-2; }
  
  .foto1 { grid-area: foto1; }
  
  .foto2 { grid-area: foto2; }
  
.hrprueba{
    border: solid pink;
}