body{
background-color: aquamarine;
}
.grilla {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "lado1- lado2"
      "TEXTOLADO1 TEXTOLADO2"
      "buttonLADO1 buttonLADO2";
  }
  
  .lado1- { grid-area: lado1-; }
  
  .lado2 { grid-area: lado2; }
  
  .TEXTOLADO1 { grid-area: TEXTOLADO1; }
  
  .TEXTOLADO2 { grid-area: TEXTOLADO2; }
  
  .buttonLADO1 { grid-area: buttonLADO1; }
  
  .buttonLADO2 { grid-area: buttonLADO2; }
  